{% extends "base.html" %}

{% block title %}
Ревью игры
{% endblock %}

{% block content %}
    <h3>{{ review_game.title }}</h3>
<p><a href="https://warp.by/igry-dlya-ps4">warp.by</a></p>
{% for games in game_warp %}
    {% for game in games %}
      <p>{{ game.name }} : {{ game.price }} </p>
    {% endfor %}
{% endfor %}

<p><a href="https://www.belconsole.by/playstation_4/igry_dlya_ps4/">belconsole.by</a></p>
{% for games in game_belconsole %}
    {% for game in games %}
      <p>{{ game.name }} : {{ game.price }} </p>
    {% endfor %}
{% endfor %}

    <p>{{ review_game.body }}</p>
        <form action="." method="post">
            <p>Введите коментарий</p>
            {{ comment_form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Создать комментарий">
        </form>
{% for elem in comments %}
    <h3>Пользователь: {{ elem.author }}</h3>
    <h6>Дата публикации: {{ elem.publish }}</h6>
    <p>{{ elem.body }}</p>

{% endfor %}
{% endblock %}