{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Ревью игры
{% endblock %}

{% block content %}
{% include 'include_block_html/adaptive_menu_account.html' %}
<div class="container px-1">
    <h3>{{ review_game.title }}</h3>
    <div class="brd">
    <div class="row">
<h4 class="text-center"><u>Стоимость игры в интернет магазинах</u></h4>
    <div class="col-lg-6">
<p>Ссылка на магазин: <a href="https://warp.by/igry-dlya-ps4">warp.by</a></p>
{% for games in game_warp %}
    {% for game in games %}
      <p>{{ game.name }} : {{ game.price }} </p>
    {% endfor %}
{% endfor %}
    </div>
<div class="col-lg-6">
<p>Ссылка на магазин: <a href="https://www.belconsole.by/playstation_4/igry_dlya_ps4/">belconsole.by</a></p>
{% for games in game_belconsole %}
    {% for game in games %}
      <p>{{ game.name }} : {{ game.price }} </p>
    {% endfor %}
{% endfor %}
    </div>
    </div>
</div>

<img src="{% if review_game.image %}{{ review_game.image.url }}
{% else %}{% static 'img/no_image.jpg' %}{% endif %}" class="img-thumbnail" class="text-center">


    <p>{{ review_game.body }}</p>
{% if user.is_authenticated %}
        <form action="." method="post">
            <div class="col-md-5 mb-0">
                <div class="row-sm-5">

            {{ comment_form|crispy }}

            {% csrf_token %}
            </div>
            </div>
            <input type="submit" value="Создать комментарий">
        </form>
{% endif %}
    <p><br></p>
{% for elem in comments %}
<div class="brd_2">
    <h4>Пользователь: {{ elem.author }}</h4>
    <p class="date">Дата публикации: {{ elem.publish }}</p>
    <p>{{ elem.body }}</p>
</div>
    <p><br></p>
{% endfor %}
    </div>

{% include "include_block_html/footer_page.html" %}

{% endblock %}