{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Главная страница

{% endblock %}

{% block content %}


<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
{% if user.is_authenticated %}
        <li class="nav-item">
<a class="nav-link" href="{% url 'account:profile' %}">Профиль</a>
            </li>
        <li class="nav-item">
<a class="nav-link" href="{% url 'blog:create_review' %}">Написать рецензию</a>
            </li>
        <li class="nav-item">
<a class="nav-link" href="{% url 'account:logout' %}">Выйти</a>
        </li>
    {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'account:register' %}">Регистрация</a>
            </li>
        <li class="nav-item">
    <a class="nav-link" href="{% url 'account:login' %}">Войти</a>
            </li>


{% endif %}
</ul>
 <div class="input-group justify-content-end">
  <form class="form-inline" role="search" action="{% url 'blog:search_handler' %}" method="get">

        <div class="form-group ">
        <div class="input-group">

    {{ search_form.as_p }}

    {% csrf_token %}
         <!--     <button class="btn btn-outline-secondary anonymous-search" type="submit">Поиск</button> -->
            <span class="input-group-btn">
             <input type="submit" value="Поиск">
           <!--       <button class="btn btn-outline-secondary anonymous-search" type="submit">Поиск</button> -->
                </span>
            </div>
            </div>
</form>
</div>

</nav>

{% for obj in list_review %}
<p><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></p>
{% if obj.tags.all %}
<p>Тэг:
{% for tg in obj.tags.all %}
<a href="{% url 'blog:post_list_by_tag' tg.slug %}">
{{ tg.name }}
</a>
{% if not forloop.last %}, {% endif %}
{% endfor %}
    {% endif %}
</p>
{% endfor %}

{% include "blog_page/pagination.html" with page=list_review %}

{% endblock %}