{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    {% if form.errors %}
        <p>Не верный пароль. Попробуйте еще раз.</p>
    {% else %}
        <p>Введите логин и пароль.</p>
    {% endif %}

<form action="{% url 'account:login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" value="{{ next }}" />
    <p><input type="submit" value="Войти"></p>
</form>
<p><a href="{% url 'account:password_reset' %}">Забыли пароль?</a></p>
<li class="google">
<a href="{% url 'social:begin' 'google-oauth2' %}">
Войти Google
</a>
</li>

{% endblock %}