{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Измение пароля{% endblock %}
{% block content %}
{% include 'include_block_html/adaptive_menu_account.html' %}
<h1>Измененние пароля</h1>
<p>Используйте форму ниже, чтобы изменить свой пароль.</p>
<form action="." method="post">
    <div class="col-md-3 mb-0">
{{ form|crispy  }}
    </div>
<p><input type="submit" value="Изменить"></p>
{% csrf_token %}
</form>
{% include "include_block_html/footer_page.html" %}
{% endblock %}