body {
  background-color: #AFEEEE;
  margin: 8px;
}

.date{
color: grey;
font-size:small;
font-family: cursive;
}

.list_review{
margin: 18px;
}

.space_between{
line-height: 0.5em;
}


.brd {
    border: 4px double black; /* Параметры границы */
    background: #ADD8E6; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
 }

.brd_2 {
    border: solid; /* Параметры границы */
    background: #F0FFFF; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
 }

.table_game{
    padding: 120px; /* Поля вокруг текста */
}

.profile{
    padding: 100px; /* Поля вокруг текста */
}