{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Редактировать ваш аккаунт{% endblock %}
{% block content %}
{% include 'include_block_html/adaptive_menu_account.html' %}
<div class="container">
  <div class="row h-100 justify-content-center align-items-center">
<h3>Редактировать ваш аккаунт</h3>
<p>Заполните следующие поля:</p>

<form action="." method="post" enctype="multipart/form-data">
    <div class="col-md-4 mb-0">
{{ user_form|crispy }}
{{ profile_form|crispy}}
{% csrf_token %}
    </div>
<p><input type="submit" value="Сохранить изменения"></p>
</form>
       </div>
</div>
{% include "include_block_html/footer_page.html" %}
{% endblock %}